.showAll {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.showAll .moreMovies {
  margin: 0 auto;
  margin-top: 2rem;
}

.darkTheme .moreMovies {
  background-color: black;
  color: white;
  outline: solid white 2px;
}
.darkTheme .moreMovies:hover {
  background-color: white;
  color: black;
  outline: solid black 2px;
}