.posterLink{
  text-decoration: none;
  color:black;  
}

.imagePoster {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
  max-width: 185px;
  .star {
    position: absolute;
    max-width: 25px;
    right: 0%;
    margin: 0.5rem;
  }
  .posterRating {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 15px;
    font-size: 1.2rem;
    left: 0%;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .posterImage {
    border-radius: 10px;
    height: 278px;
    width:185px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .posterText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
    p {
      text-align: center;
    }
  }
}

.darkTheme{
  .imagePoster{
    color: white;
  }
}
