.posterDisplayAllWrapper {
  padding: 3rem;
}
.posterDisplayAllWrapper .movieHolderAll {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  width: 100%;
  justify-content: space-between;
  row-gap: 2rem;
}
.posterDisplayAllWrapper .movieHolderAll .imagePoster {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
  max-width: 185px;
}
.posterDisplayAllWrapper .movieHolderAll .imagePoster .star {
  position: absolute;
  max-width: 25px;
  right: 0%;
  margin: 0.5rem;
}
.posterDisplayAllWrapper .movieHolderAll .imagePoster .posterRating {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: black;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  font-size: 1.2rem;
  left: 0%;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.posterDisplayAllWrapper .movieHolderAll .imagePoster .posterImage {
  border-radius: 10px;
  min-height: 278px;
  max-height: 278px;
}
.posterDisplayAllWrapper .movieHolderAll .imagePoster .movieText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
}
.posterDisplayAllWrapper .movieHolderAll .imagePoster .movieText p {
  text-align: center;
}