.userProfile {
  position: relative;
  .profileBackdrop {
    position: relative;
    .profileWrapper{
      display: flex;
      flex-direction: row;
      .userStats{
        width: 500px;
      }
    }
    .userProfileBackdrop {
      height: 300px;
    }
    .userStatsDiv {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
.userStatsNumbers {
  height: 100px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1rem;
  .progressBarWrap {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
      min-height: 2rem;
    }
  }


  }
    .userImage {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
    .CircularProgressbar-text {
    font-size: 2rem;
    fill: white;
  }
  .CircularProgressbar-path {
    stroke: white;
  }
  .CircularProgressbar-trail {
    stroke: rgb(63, 63, 63);
  }
}
}
// .userProfileBackdrop {

// background-color: grey;
// background-blend-mode: multiply;
// position: relative;
// width: 100vw;
// padding: 0 1.5rem;

//   .userStats {
//     color: white;
//     display: flex;
//     flex-direction: column;
//     row-gap: 1rem;
//     .userName {
//       font-size: 2rem;
//     }
//   }
// }


// }
// }

@container screen and (screen : min-width) {
}
