a {
  text-decoration: none;
  color: black;
}

.typeName {
  font-size: 2rem;
  padding-top: 2rem;
}

.posterDisplaysWrapper {
  padding: 0 1.5rem;
}

.darkTheme .posterDisplaysWrapper {
  background-color: black;
  color: white;
}