.CircularProgressbar-text {
  font-size: 2rem !important;
  fill: white !important;
}

.CircularProgressbar-path {
  stroke: white !important;
}

.CircularProgressbar-trail {
  stroke: rgb(63, 63, 63) !important;
}