*, *::before, *::after {
  box-sizing: border-box;
}

.search {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input[type=text] {
  font-size: 1.5rem;
  width: 100%;
  height: 37.5px;
  border-radius: 1rem;
  border: none;
}
.search .searchField {
  padding: 0px 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  z-index: 20;
}
.search .searchField .searchSwitch {
  margin: 0px 10px;
}
.search .searchResultsDisplay {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 300px;
  width: 600px;
  overflow-y: auto;
  position: absolute;
  top: 15px;
  z-index: 10;
  background-color: white;
}
.search .searchResultsDisplay .foundUser {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}
.search .searchResultsDisplay .foundUser img {
  max-width: 50px;
}
.search .searchResultsDisplay .foundMovie {
  width: 550px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  align-items: center;
  background-color: white;
  margin-top: 15px;
}
.search .searchResultsDisplay .foundMovie img {
  max-width: 50px;
}