header {
  position: absolute;
}

.backgroundSearchImage {
  height: 600px;
  background-position: top;
  background-size: cover;
  transition: 200;
}

.search {
  width: 600px;
  position: absolute;
  flex-direction: column;
  transform: translate(-50%, -100%);
  bottom: 50px;
  left: 50%;
  z-index: 50;
}

.nav.default-nav {
  display: none;
}

.slide-container {
  position: relative;
  max-height: 550px;
}
.slide-container .react-slideshow-container {
  max-height: 550px;
}
.slide-container .react-slideshow-container .react-slideshow-fadezoom-wrapper {
  max-height: 550px;
}