.search {
  position: absolute;
  bottom: 50px;
}

.nav.default-nav {
  display: none;
}

.slide-container {
  position: relative;
  max-height: 550px;
  min-height: 550px;
}
.slide-container .react-slideshow-container {
  max-height: 550px;
  min-height: 550px;
}
.slide-container .react-slideshow-container .react-slideshow-fadezoom-wrapper {
  max-height: 550px;
  min-height: 550px;
}
.slide-container .react-slideshow-container .react-slideshow-fadezoom-wrapper div[aria-roledescription] {
  min-height: 550px;
}
.slide-container .react-slideshow-container .react-slideshow-fadezoom-wrapper div[aria-roledescription] div {
  min-height: 550px;
  display: flex;
  justify-content: center;
}
.slide-container .react-slideshow-container .react-slideshow-fadezoom-wrapper div[aria-roledescription] div img {
  min-height: 550px;
  aspect-ratio: 1.7/1;
  min-width: 950px;
}

.slideContainerElements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 550px;
  padding: 0 1.5rem;
  z-index: 50;
}