.search {
  position: absolute;
  bottom: 50px;
}

.nav.default-nav {
  display: none;
}

.slide-container {
  position: relative;
  .react-slideshow-fadezoom-wrapper {
    height: 550px;
    min-height: 550px;
    .react-slideshow-fadezoom-images-wrap > div > div {
      min-height: 550px;
    }
    div[aria-roledescription] div {
      display: flex;
      justify-content: center;
      img {
        min-width: 950px;
      }
    }
  }
}
.slideOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 0 1.5rem;
  z-index: 50;
}

.darkTheme{
  .slideOverlay{
    background-color: rgba(0, 0, 0, 0.4);
  }
}