*, *::before, *::after{
    box-sizing: border-box;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc( 100% - 1.5rem * 2);
    flex-direction: column;
    input[type="text"] {
        font-size: 1.5rem;
        width: 100%;
        height: 37.5px;
        border-radius: 1rem;
        border: none;
    }
    .searchField{
        padding: 0 10px;
        display: flex;

        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 1rem;
        position: relative;
        z-index: 20;
        .searchSwitch{
            min-width: 85px;
        }
    }
    .searchResultsDisplay{
        padding-top: 20px;
        display: flex;        
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-height: 300px;
        width: 600px;
        overflow-y: auto;
        position: absolute;
        top: 15px;
        z-index: 10;
        background-color: white;
        .foundUser{
            width: 600px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            img{
                max-width: 50px;
            }
        }
        .foundMovie{
            width: 550px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            column-gap: 2rem;
            align-items: center;
            background-color: white;
            margin-top: 15px;
            img{
                max-width: 50px;
            }
        }
    }
}
