button {
  padding: 0px 5px;
  height: 30px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
}
button.unlike {
  background-color: black;
  color: white;
}
button.unlike:hover {
  background-color: white;
  color: black;
}
button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.rateForm {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.rateForm input {
  width: 3rem;
}