button {
    padding: 0px 5px;
    height: 30px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    column-gap: 0.2rem;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    width: fit-content;
    font-size: 1rem;
    &.unlike {
        background-color: black;
        color: white;
        &:hover {
            background-color: white;
            color: black;
        }
    }
    &:hover {
        background-color: black;
        color: white;
        cursor: pointer;
    }
}
.rateForm {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    input {
        width: 3rem;
    }
}
