.popularMoviesSection {
  position: relative;
  margin: 0 auto;
  height: auto;
}
.popularMoviesSection .postersTopSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.popularMoviesSection .postersTopSection .sectionName {
  margin-top: 2rem;
  display: inline-block;
}
.popularMoviesSection .movieHolder {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  width: 100%;
  overflow-x: auto;
}