.popularMoviesSection {
  position: relative;
  margin: 0 auto;
  height: auto;
  .postersTopSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .sectionName {
      margin-top: 2rem;
      display: inline-block;
    }
  }
  .movieHolder {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    width: 100%;
    overflow-x: auto;
  }
}
