.search {
    button {
        background-color: #76bfff;
        color: #f2f2f2;
        float: right;
        padding: 5px;
        font-size: 12px;
        border: none;
        border-radius: 15px;
        margin-left: 5px;
        cursor: pointer;
        img {
            max-width: 25px;
        }
    }
    input[type="text"] {
        padding-left: 1rem;
        font-size: 1.5rem;
        width: 500px;
        height: 37.5px;
        border-radius: 25px;
        border: none;
    }
    .searchField{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .searchResultsDisplay{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .foundUser{
            width: 535px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            img{
                max-width: 50px;
            }
        }
    }
}
