.section {
  position: relative;
  //margin: 0 auto;
  height: auto;
  min-width: 270px; 
  .sectionInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .sectionName {
      margin-top: 2rem;
      display: inline-block;

    }
  }

}
.recommendationDiv {
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  .section {
    max-width: 900px;

  }
}

.posterHolder {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  width: 100%;
  overflow-x: auto;
}

.darkTheme{
  .viewAllButton{
    color: white;
    background-color: black;
    border: solid white 2px;
  }
}
